<h1>
  {{title}}
</h1>
<button routerLink="/">Home</button> > 
<button routerLink="/customers">Customers (LEVEL 1 MODULE)</button> > 
<button routerLink="/customers/111">Customer 1 (COMPONENT)</button>  <br/> <br/>
<button routerLink="/">Home</button> > 
<button routerLink="/orders">Orders (LEVEL 1 MODULE)</button> >
<button routerLink="/orders/add-orders">Add-orders (LEVEL 2 MODULE)</button>
<button routerLink="/orders/add-orders/addPage">Add-orders (COMPONENT)</button>

<router-outlet></router-outlet>